.step1_wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  background: url("../../assets/pilot.gif") no-repeat center center;
  background-size: cover;
}

.step1_wrapper::after{
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
}

.secret-code__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}


.secret-code {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;

  border-radius: 80px;
  box-shadow: 2px 2px 0 #d714fe, -1px -1px 0 #14cffe;
  width: 95%;
}

.secret-code__txt {
  letter-spacing: 3px;
  font-size: 30px;
  text-shadow: 2px 2px 0 #d714fe, -1px -1px 0 #14cffe;
}

.copy_button {
  width: 40px;
}

.copy_button svg path {
  stroke: var(--y-non-selected-text);
}

.copy_button:hover svg path {
  stroke: var(--w-non-selected-text);
}