.wrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 320px;
  min-height: 100vh;

  color:var(--y-non-selected-text);
  overflow: hidden;
}

.wrapper .content:first-child {
  padding-top: 30px;
}

.wrapper .content:nth-child(1) {
  background: rgba(0, 0, 0, 0.5);
}

.wrapper::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  background-size: 4px;
  pointer-events: none;
  background:
    repeating-linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.4) 1px,
    transparent 1px,
    transparent 2px);
  opacity: .4;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -20;

  background-image: url("src/assets/bg1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: relative;

    width: 800px;
    min-height: 420px;

    border-left: 3px solid  var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);

    -webkit-box-shadow: inset 200px 21px 194px 20px #12a6c03b;
    -moz-box-shadow: inset 200px 21px 194px 20px #c012b73b;
    box-shadow: inset 200px 21px 194px 20px #12c0953b;
}

.wrapper p {
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    line-height: 1.7;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;

  text-align: justify;
}
